body {
    background-color: rgb(224, 204, 204);
  }
  
  p {
    color: #01010a;
    font-size: 18px;
    font-style: oblique;
  }
  
  .amarillo {
    color: yellow;
  }

  h3 {
    text-shadow: 0.5px  ;
  }